.App {
  text-align: center;
  width: 100%;
}

h1 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  height: 80px;
  z-index: 1000;
}

.App-header {
  background: linear-gradient(to right, rgba(89, 143, 20, 1), rgba(6, 77, 161, 0.94));
  box-shadow: 5px 10px 10px grey;
  color: white;
  margin: 0px 0px;
  width: 100%;
  word-wrap: normal;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.leftImg {
  left: -250px;
  margin: -80px;
  padding: 0;
  position: relative;
  top: 40px;
  z-index: 0;
}

.rightImg {
  left: 250px;
  margin: -80px;
  padding: 0;
  position: relative;
  top:40px;
  z-index: 0;
}

.App-title {
  font-size: 4em;
  font-weight:lighter;
  text-shadow: 0 9px 9px rgb(18, 17, 17);
}

.leftDiv {
  background-color: rgba(93, 144, 27, 0);
  color: white;
  float: left;
  height: 100%;
  width: 9%;
  word-wrap: normal;
}

.rightDiv {
  background-color: rgba(29, 88, 158, 0);
  color: white;
  float: right;
  height: 100%;
  width: 9%;
  word-wrap: normal;
}

.centerDiv {
  border:0px solid black;
  margin: 0 auto;
  padding: 0px 0px;
  width: 80%;
  height:100%;
  text-align:center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width: 50%;
}

.mainDiv {
  height: 100%;
}

/*dropdown menu */

.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
}

.dropdown a:hover {
  background-color: rgba(93, 144, 27, 1);
  color: white;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #ededed));
  background: -moz-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -o-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #999999 5%, #ededed 100%);
  background: linear-gradient(to bottom, #999999 5%, #ededed 100%);
}

.myButton {
  background-color: rgba(85, 140, 13, 1);
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 10px 0px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 0 #ffffff;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownFilter:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: #f6f6f6;
  box-shadow: 10px 5px 10px gray;
  display: none;
  min-width: 100%;
  overflow: auto;
  position: absolute;
  text-align: left;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

.dropdown2 {
  display: inline-block;
  position: relative;
  width: 100%;
}

.dropdown2 a:hover {
  background-color: rgba(21, 87, 166, 0.94);
  color: white;
}

.myButton2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #ededed));
  background: -moz-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -o-linear-gradient(top, #999999 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #999999 5%, #ededed 100%);
  background: linear-gradient(to bottom, #999999 5%, #ededed 100%);
}

.myButton2 {
  background-color: rgba(18, 84, 163, 0.94);
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 10px 0px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 0 #ffffff;
  width: 100%;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdownFilter:hover .dropdown-content {
  display: block;
}

.dropdown-content2 {
  background-color: #f6f6f6;
  box-shadow: -10px 5px 10px gray;
  display: none;
  min-width: 100%;
  overflow: auto;
  position: absolute;
  text-align: left;
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

.icons {
  border: 1px solid white;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.svg {
  width: 100%;
}

.g {
  border: 1px solid black;
}

.reports{
  height:200px;
  transition:.3s ease-in-out;
  width:200px;
}

.reports:hover{
  height:300px;
  transform:scale(1.1);
  width:300px;
}

.reportsDiv{
  display:inline-block;
}

.crmBoxed{
  position:relative;
  width:56vw;
  height:55vh;
  border-radius:20px;
}

.status{
  vertical-align: top;
  font-size:26px;
  font-weight:bold;
  position:relative;
  overflow-x:hidden;
}



.loginBox{
  position:relative;
  border-radius:20px;
  left:25%;
  width:50%;
  height:40vh;
  overflow-y: hidden;
  background-color:rgba(255, 255, 255, 0.2);
  box-shadow: 0px 16px 100px 5px;
}

.user{
  position:relative;
  width:100%;
  overflow-x:hidden;

}
.pass{
  position:relative;
  width:100%;
  overflow-x:hidden;
}

.log{
  position:relative;
  font-size:24px;
  width:70%;
  color:white;
  background-color:rgb(9, 173, 45);
  overflow-x: hidden;
}
.startButton{
  top:50%;
  position: absolute;
  left:35.4%;
  border-radius:165px;
  width: 30%;
  vertical-align:middle;
}

input,textarea{
  width:70%;
  font-size:17px;
}

.userHide{
  position:absolute;
  left:423px;
  top: 205px;
  visibility: hidden;
}

.passHide{
  position:absolute;
  left:423px;
  top: 230px;
  visibility: hidden;
}


.log:hover{
  cursor:pointer;
}

.logLabelHide{
  position:absolute;
  left:485px;
  top: 180px;
  visibility: hidden;
}



img{
  max-width:100%;
  height: auto;
  width: auto\9;
}

.button1{
  background-color:rgb(232, 174, 22);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:0%;
  left:8%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button1:hover{
  cursor:pointer;
  opacity:1;
}

.button2{
  background-color:rgb(223, 130, 33);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:17%;
  left:2%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button2:hover{
  cursor:pointer;
  opacity:1;
}

.button3{
  background-color:rgb(180, 18, 184);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:34.5%;
  left:0%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button3:hover{
  cursor:pointer;
  opacity:1;
}

.button4{
  background-color:rgb(123, 91, 228);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:51.7%;
  left:0%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button4:hover{
  cursor:pointer;
  opacity:1;
}

.button5{
  background-color:rgb(232, 174, 22);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:0%;
  left:66%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button5:hover{
  cursor:pointer;
  opacity:1;
}

.button6{
  background-color:rgb(223, 130, 33);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:17%;
  left:71%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button6:hover{
  cursor:pointer;
  opacity:1;
}

.button7{
  background-color:rgb(180, 18, 184);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:34.5%;
  left:73.3%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;
}

.button7:hover{
  cursor:pointer;
  opacity:1;
}

.button8{
  background-color:rgb(123, 91, 228);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:51.7%;
  left:73.3%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button8:hover{
  cursor:pointer;
  opacity:1;
}

.button9{
  background-color:rgb(33, 212, 223);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:68.5%;
  left:2%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button9:hover{
  cursor:pointer;
  opacity:1;
}

.button10{
  background-color:rgb(33, 212, 223);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:68.5%;
  left:71%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button10:hover{
  cursor:pointer;
  opacity:1;
}

.button11{
  background-color:rgb(0, 148, 221);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:85%;
  left:8%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;
}

.button11:hover{
  cursor:pointer;
  opacity:1;
}

.button12{
  background-color:rgb(0, 148, 221);
  width:15vw;
  height:8vh;
  border-radius:35px;
  top:85%;
  left:66%;
  position:absolute;
  outline:none;
  opacity:0.8;
  box-shadow: 0px 8px 20px 1px;

}

.button12:hover{
  cursor:pointer;
  opacity:1;
}


.centerButton{
  background-image: radial-gradient(rgb(138, 213, 116),rgb(81, 191, 13));
  position: absolute;
  left:35.4%;
  top: 17%;
  border-radius:165px;
  box-shadow: 0px 8px 20px 1px;
  width: 30%;
  max-width:30%;
  padding-top: 30%; /* 1:1 Aspect Ratio */
  overflow-x:hidden;
  overflow-y:hidden;
}

.logoutLabel{
  position:absolute;
  top:45%;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:none;
  font-size:16px;
  color:white;
}

.carDiv{
  background-color:white;
  box-shadow: 0px 6px 4px 6px gray;
  width:50%;
}

.vehicles {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

.vehicles td, .vehicles th {
    padding: 8px;
}

.vehicles tr:nth-child(even){background-color: #f2f2f2;}

.vehicles tr:hover {background-color: #ddd;}

.vehicles th {
    background-color: #4CAF50;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
}

.caritos{
  margin:42px;
  position:absolute;
  transition:.7s ease-in-out;
}

.caritos:hover{
  box-shadow: 10px 5px 10px gray;
  cursor: pointer;
  height:300px;
  position:absolute;
  transform:scale(1.5);
  width:300px;
  z-index:1000;
}

.scroll > div
{
    display: inline-block;
    height:150px;
}
.scroll
{
    margin: 0px auto;
    position:relative;
    text-align: center;
    width: 70%;
}

.thumbnail-item{
  background-color:white;
  display:inline-block;
  border: 1px solid rgb(222, 222, 222);
  width:300px;
  height:250px;
  margin:0;
  padding:10px;
  transition: transform 233ms ease-in-out;
}

.thumbnail-item:hover{
}

.thumbnail-image{
  height:100px;
  width:200px;
}

.thumbnail-image:hover{
  cursor:pointer;
}

.searchBar{
  font-size:20px;
  border-radius:5px;
}

.searchBarBtn{
  background-color: rgba(18, 84, 163, 0.94);
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 2px;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 0 #ffffff;
}

.searchDiv{
  padding:0 0 20px 0;
}

.header{
  background-color:rgb(231, 231, 231);
  margin:0 auto;
  padding:6px;
  font-weight: bold;
  font-family: sans-serif;
}

.formSetup{
  text-align:center;
  padding:15px;
}
.formChild{
  display:inline-block;
  background-color:#f2f2f2;
  border:1px solid lightgrey;
  margin:2px;
  border-radius:3px;
  padding:5px 20px 15px 20px;
  box-shadow:0 10px 55px 10px;
}

th {
  margin-bottom:10px;
  text-align:center;
  font-sieze:16px;
  padding: 8px;
  font-weight:700;
  font-family:inherit;
  line-height:1.1;
  color:inherit;
}

.head{
  font-size:30px;
  font-family:inherit;
  font-weight:500;
  line-height:1.1;
  color:inherit;
}

.inputs{
  border-radius: 3px;
  font-size:16px;
  margin-bottom:20px;
  margin-left:10px;
  margin-right:10px;
  padding:12px;
  border: 1px solid #ccc;
}

.submitBtn{
  background-color: #4CAF50;
  padding:12px;
  border:none;
  width:100%;
  border-radius:3px;
  font-size:17px;
  color:white;
}

.selectMenu{
  padding:15px;
  border:none;
  width:100%;
  border-radius:3px;
  font-size:17px;
}

.fileOption{
  border:none;
  border:1px solid lightgrey;
  margin:10px;
  background-color:white;
}

.parentMenu{
  display:inline-block;
  position:relative;
}
